/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #FFFFFF;
    background-color: #FFB6C1;
  }

.house-color {
    color: #FF6EC7;
    font-family:'Courier New', Courier, monospace;
    font-size: 300%;
  }  