/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #FFFFFF;
    background-color: #FFB6C1;
  }

h3 {
    color: #ae0001;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
  }  

h4 {
    color: #2a623d;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
  }  

h5 {
    color: #222f5b;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
  } 

h6 {
    color: #f0c75e;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
  }  